AddKeysToAgent yes
StrictHostKeyChecking=no
Host *
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h-%p
    ControlPersist 600
    ForwardAgent yes
    ForwardX11 no
    ForwardX11Trusted yes
    StrictHostKeyChecking=no
    ServerAliveInterval 60
    ServerAliveCountMax 30
    IdentityFile ~/.ssh/id_rsa
Include hosts.config
